body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ccc;
    cursor: none;
}

/* div {
    box-shadow:3px 0 1px red;
} */

body{
    background-image: url(../img/gamebackground.jpg);
}

.game-container {
    position: relative; 
    margin: auto;
}

.grid {
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(10, 50px);
    background-color: #444;
    padding: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #88cc88;
    border: 1px solid #3333332f;
    box-sizing: border-box;
}

.path {
    background-color: #c49a6c;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.money-counter {
    font-size: 20px;
    font-weight: bold;
    color: #faf8d6;
    background-color: #ecb213cc;
    border-radius: 1px;
    z-index: 5;
}

.lives-counter {
    margin-top: 1px; 
    font-size: 20px;
    font-weight: bold;
    color: #f8d2d2;
    background-color: #ec2207de;
    border-radius: 1px;
    z-index: 5;
    display: flex;
    flex: column;
    
}

#archer-button, #wizard-button, #knight-button {
    padding: 5px; 
    margin: 5px 62px; 
    height: 25px; 
    max-height: 25px;
    max-width: 25px; 
    width: 25px;
    font-size: 10px;
    z-index: 5;
}

#archer-button:hover {
    background-color: #eb2727;
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
    box-shadow: 0 2px 4px rgba(187, 142, 142, 0.945);
    cursor: none; 
}

#wizard-button:hover {
    background-color: #ac07a3;
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
    box-shadow: 0 2px 4px rgba(194, 143, 194, 0.945);
    cursor: none; 
}

#knight-button:hover {
    background-color: #31485a;
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
    box-shadow: 1px 2px 4px rgba(194, 143, 194, 0.945);
    cursor: none; 
}

#archer-button:active, #wizard-button:active, #knight-button:active {
    background-color: #7c7878;
    transform: scale(0.9);
    transition: all ease-in-out 0.2s;
}

#archer-button{
    background-color: rgb(221, 44, 44);
    cursor:none;
    z-index: 5; 
}

#wizard-button{
    background-color: rgb(104, 21, 104);
    cursor:none;
    z-index: 5; 
}

#knight-button{
    background-color: rgb(41, 51, 59);
    cursor:none;
    z-index: 5; 
}

.character_titles {
    display:flex;
    justify-content: baseline;
    align-items: baseline;
    width: 30vw; 
    height: 50px; 
    /* background-color: #f00; */
}

.c1, .c2, .c3 {
    font-size: 18px;
    font-weight: bold;
    color: #faf3d6;
    background-color: rgba(104, 44, 9, 0.363);
    margin: auto;
    border-radius: 3px;
    padding: 5px;
    z-index: 5;
}

.dropdown1, .dropdown2, .dropdown3 {
	position: relative; 
	display: inline-block; 
    z-index: 1;
}

.dropdown-archer, .dropdown-wizard, .dropdown-knight {
    display: none;
	position: absolute; 
    left: 0;
	min-width: 100px; 
	padding: 5px 10px; 
	margin-top: -2px;
    font-size: 10px;
	z-index: 10;
    box-shadow: 1px 2px 4px rgba(194, 143, 194, 0.945);
	border-radius: 8px; 
}

.dropdown1:hover .dropdown-archer {
	display: block; 
}

.dropdown2:hover .dropdown-wizard {
	display: block;
}

.dropdown3:hover .dropdown-knight {
    display: block; 
}

.menu {
    display: flex;
    flex-direction: column;
    height:100vh; 
    width: 30vw; 
    align-items: right; 
    background-color: rgb(104, 44, 9); 
}

.tower-container {
    display:flex;
    justify-content: baseline;
    align-items: baseline;
    height: 100vh; 
    width: 100%; 
    background-color: rgb(104, 44, 9); 
}

#start-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px; 
    cursor: none;
}

#start-button:hover {
    cursor: none;
}

#speed-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px; 
    cursor: none;
}

#speed-button:hover {
    cursor: none;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-color: rgb(104, 44, 9); 
    opacity: 0.5;
}

img {
    width: 100%;
    height: auto;
    max-height: 20px; 
    max-width: 20px;
    position: absolute;
    opacity: 0.8;
}

#custom-cursor {
    position: fixed;
    height: 100px; 
    width: 100px;
    pointer-events: none; 
    transform:translate(-50%, -50%);
    z-index: 9999; 
}

